*.pdb
*.tlog
*.iobj
*.ilk
*.ipdb
*.exe
*.obj
*.idb
*.plt
*.lib
*.log
C++/test/.vs/
C++/test/test.VC.db
*.opendb
C++/test/test_01/test_01.vcxproj.user
C++/dependent/tinyxml2.h
C++/dependent/tinyxml2.cpp
*.json
*.xml
