*.pdb
*.tlog
*.iobj
*.ilk
*.ipdb
*.exe
*.obj
*.idb
*.plt
*.lib
*.log
*.json
*.opendb
C++/test/.vs/
C++/test/test.VC.db
C++/test/test_01/test_01.vcxproj.user
C++/test/test_03/log.txt
C++/test/test_05/test_05.txt
C++/test/test_06/test_06.txt
C++/test/test_07/test_07.txt
C++/test/test_08/test_08.txt
C++/test/test_01/test_01.txt
C++/test/test_02/Zone_A.txt
C++/test/test_02/test_02.txt
C++/test/test_03/test_03_g.txt
C++/test/test_03/test_03_s.txt
C++/test/test_04/test_04/file_g.txt
C++/test/test_10/Zone_A.txt
C++/test/test_10/test_10.txt
*.asv
MATLAB/test/ordered_tec_test_03/untitled_file.txt
MATLAB/test/ordered_tec_test_04/test_04_g.txt
MATLAB/test/ordered_tec_test_04/test_04_s.txt
MATLAB/test/ordered_tec_test_05/test_05.txt
MATLAB/test/ordered_tec_test_05/test_05/test_05_grid.txt
MATLAB/test/ordered_tec_test_09/test_09.txt
C++/doc/chs/
C++/doc/eng/
*.html
MATLAB/test/ordered_tec_test_04/test_04_g.xml
MATLAB/test/ordered_tec_test_04/test_04_s.xml
C++/test/test_02/Zone_A.xml
C++/test/test_02/test_02.xml
